html, body, header, h2, h3, div, p, button, img {
	margin: 0;
	padding: 0;
}

/* html5 to behave properly in older browsers */
header, details, section, article, img {
	display: block;
}

.clearfix {
	min-height: 0;
	_zoom: 1;
}

.clearfix:after {
	content: "";
	clear: both;
	display: block;
}

#header {
	background-color: #0F2D52;
	width: auto;
	height: auto;
	padding: 40px 0;
	color: white;
	/*font: bold 14px/14px "Times New Roman", monoscript;*/
}

#header-boxes, #content {
	margin: 0 auto;
	width: 800px;
}

#header-boxes #box-1, #header-boxes #box-2 {
	width: 340px;
	height: 100px;
	float: left;
}

#header-boxes #box-2  {
	margin-left: 20px;
}

#header-boxes #box-1 div, #header-boxes #box-2 div {
	padding-left: 100px;
}

img {
	width:70px;
	height:71px;
	float: left;
}

.details {
	float: left;
	width: 140px;
	text-align: right;
}

a {
	text-decoration: none;
}

section {
	margin-top: 40px;
}

article p {
	margin: 20px 0;
}

article {
	float: left;
	width: 610px;
	margin-left: 20px;
	padding-left: 20px;
}

button {
	background-color: #006FBF;
	border: none;
	border-radius: 8px;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
}