html, body, header, h2, h3, div, p, button, img {
	margin: 0;
	padding: 0
}

/* html5 to behave properly in older browsers */
header, details, section, article, img {
	display: block;
}

.clearfix {
	min-height: 0;
	_zoom: 1;
}

.clearfix:after {
	content: "";
	clear: both;
	display: block;
}

#site-wrapper {
	font: 14px/14px "Times New Roman", serif;
}

#header {
	background-color: #0F2D52;
	width: auto;
	height: auto;
	padding: 40px 0;
	color: white;
}

#header-boxes, #content {
	margin: 0 auto;
	width: 800px;
}

#header-boxes h3 {
	font: bold 16px/16px "Georgia", serif;
}

#header-boxes p {
	font: 13px/18px "Calibri", sans-serif;
}

#header-boxes #box-1, #header-boxes #box-2 {
	width: 360px;
	height: 85px;
	float: left;
	margin-left: 35px;
}

#header-boxes #box-1 div, #header-boxes #box-2 div {
	padding-left: 100px;
}

img {
	width:80px;
	height:81px;
	float: left;
}

.details {
	float: left;
	width: 140px;
	text-align: right;
	margin-top: 5px;
	font: 13px/18px "Calibri", sans-serif;
}

a {
	text-decoration: none;
	font-weight: bold;
}

section {
	margin-top: 40px;
}

article {
	float: left;
	width: 610px;
	margin-left: 20px;
	padding: 5px 0 5px 20px;
	background: url("../img/line.png") no-repeat left center;
}

article h2 {
	font: bold 18px/18px "Georgia", serif;
}

article p {
	margin: 20px 0;
	font: 16px/22px "Georgia", serif;
}

button {
	background-color: #006FBF;
	border: none;
	border-radius: 3px;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
	font: bold 12px/12px "Arial", sans-serif;
}